.contact {
  .info-section {
    padding: 55px;
    width: 35%;
  }

  .content-area {
    height: 100%;
    margin-left: 35%;
    width: 65%;
    background: #fff;
    padding: 0 0 0 20%;

    .img-container {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 30%;

      .form-section {
        //  overflow-y: scroll;
        //    overflow-x: hidden;
        position: absolute;
        background: #6587bc;
        color: white;
        padding: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
        right: 120%;
        top: 5%;
        min-width: 375px;
        height: 82%;

        h4 {
          font-size: 1.6rem;
          margin-bottom: 20px;
        }

        input,
        textarea {
          width: 100%;
          border: none;
          border-bottom: 2px solid #7eacf7;
          margin-bottom: 0.5rem;
          padding: 20px !important;
          font-size: 0.7rem;
          text-transform: uppercase;
          line-height: 1.1;
        }

        .btn2 {
          border: none;
          font-size: 0.7rem;
          text-transform: uppercase;
          width: 100%;
          background-color: #7eacf7;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          text-align: center;
          color: #2e3035;
          padding: 15px;
        }
      }
    }
  }

  .contact-section {
    position: absolute;
    top: 45%;
    left: 55%;
    vertical-align: top;
    //padding: 70px;
    .contact-info {
      h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2;
        margin: 0 0 1rem;
      }

      .contact-box {
        padding: 20px;
        transition: all 0.5 ease-in-out;

        &:hover {
          -webkit-box-shadow: 0 20px 74px 6px rgba(0,0,0,0.20);
          -moz-box-shadow: 0 20px 74px 6px rgba (0,0,0,0.20);
          box-shadow: 0 20px 74px 6px rgba(0,0,0,0.20);
        }

        h5 {
          font-size: 1.3rem;
          margin: 0 0 1rem;
          color: rgba(0,0,0,0.7);
          font-weight: 700;
        }

        p {
          color: rgba(0,0,0,0.8);
          font-weight: 650;
          margin: 0 0 1rem !important;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .contact {
    .menu-icon {
      top: 0;
      right: 20px;
      color: white;

      .fa {
        color: white;
      }

      .content-area {
        height: auto;

        &:after {
          content: "";
          display: table;
          clear: both;
        }
      }
    }

    .info-section {
      //  display: none;
      padding: 10px 20px;

      .logo {
        height: 50px;
        width: 70px;
        font-size: 1rem;
      }

      .info-box {
        display: none;
      }
    }

    .content-area {
      margin-left: 0;
      width: 100%;

      .img-container {
        width: 100%;
        padding: 0 !important;

        .form-section {
          position: static;
          width: 100%;
        }
      }

      .contact-section {
        width: 70%;
        float: right;
        padding: 20% 20px 0;

        .btn-2,
        .btn-one {
          margin-bottom: 20px;
        }
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 768px) {
  .contact {
    .menu-icon {
      top: -3;
      right: 20px;
      color: white;

      .fa {
        color: white;
      }

      .content-area {
        //height: auto;
        &:after {
          content: "";
          display: table;
          clear: both;
        }
      }
    }

    .info-section {
      //  display: none;
      padding: 10px 20px;
      position: static;

      .logo {
        height: 50px;
        width: 70px;
        font-size: 1rem;
      }

      .info-box {
        display: none;
      }
    }
    overflow-y: auto;

    .content-area {
      padding: 0;

      .img-container {
        width: 100%;
        padding: 56px 20px 0;

        .form-section {
          position: static;
          width: 100%;
        }
      }

      .contact-section {
        position: relative;
        left: 0;
        top: 120px;
        display: block;
        clear: both;
        width: auto;
        float: left;
        padding: 20% 20px 0;
        height: auto;
        overflow: auto;
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .contact {
    .content-area {
      // margin-left: 0px;
      padding: 0;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .img-container {
        padding: 56px 20px 0;
        height: auto;

        .form-section {
          position: static;
          width: 100%;
          height: auto;
          overflow: auto;
        }
      }

      .contact-section {
        position: relative;
        // width: 70%;
        float: right;
        padding: 20% 20px 0;
        left: 170%;
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .contact {
    .content-area {
      margin-left: 50%;

      .img-container {
        padding: 56px 20px 0;
        float: left;
        // .form-section {
        //   //  position: static;
        //   //width: 100%;
        // }
      }

      .contact-section {
        // width: 70%;
        float: left;
        // margin-left: 0;
        padding: 20% 20px -50px 0;
        margin-left: -40%;
        max-width: 800px;
      }
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .contact {
    .content-area {
      .img-container {
        padding: 56px 20px 0;
        margin-left: 10%;
        float: left;

        .form-section {
          position: absolute;
          width: 100%;
        }
      }

      .contact-section {
        // width: 70%;
        float: left;
        padding: 20px 60px 0;
        max-width: 800px;
        //  padding: 20% 20px 0;
      }
    }
  }
}
