// change name of all placeholder color's here and main.scss

.home {
  .logo {
    background: white;
    height: 100px;
    width: 200px;
  }

  .info-section {
    padding: 55px;
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    .info-box {
      padding: 54px; //position: absolute;
      bottom: 60px;

      h4 {
        font-size: 1.2 rem;
        color: #525b68;
        margin: 0.7rem 0;
      }

      p {
        font-size: 0.9rem;
        font-weight: 300;
        color: #525b68;
        margin: 0.2rem 0 1.6rem;
        padding-top: 30px;
      }
    }

    .icon-section {
      a {
        color: white;
        text-decoration: none;
        font-size: 2rem;
        padding: 0 10;

        &:first-child {
          padding: 0 10 0 0;
        }
      }
    }
  }

  .content-area {
    height: 100%;
    margin-left: 35%;
    width: 65%;
    background: #525b68;
    padding: 0 0 0 20%;

    .img-container {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 30%;

      .img-user {
        position: absolute;
        right: 90%;
        top: 5%;
        width: 400px;
        height: 500px;
        background-image: url("https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9%0A&s=23fd7fa023b0a94ae56d226608ed60c0");
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        // background: url("../img/1.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    }
  }

  .profile-section {
    position: absolute;
    top: 50%;
    left: 50%;
    vertical-align: top;

    .profile {
      h1 {
        font-size: 2.3 rem;
        font-weight: 500;
        line-height: 1.2;
        margin: 0 0 1rem;

      /* span {
          color: blue;
        }*/

        h5 {
          font-size: 1.1rem;
          margin: 0 0 2rem;
        }

        p {
          color: black;
          font-weight: 300;
          line-height: 1.4;
          margin: 0 0 2rem;
        }
      }
    }
  }
}
