.logo {
  border: 5px solid #fff;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  color: #fff;
  line-height: 0;
}

.info-section {
  padding: 55px;
  width: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  .info-box {
    padding: 20px 50px 0 0;
    bottom: 60px;

    h4 {
      font-size: 1.5rem;
      color: #2e3035;
      margin: 0.03rem 0;
    }

    p {
      font-size: 1rem;
      font-weight: 300;
      color: #2e3035;
      margin: -1.4rem 0 1.6rem;
      padding-top: 30px;
    }
  }

  .icon-section {
    a {
      color: white;
      text-decoration: none;
      font-size: 2rem;
      padding: 0 10;

      &:hover {
        color: #1d6ef2;
      }

      &:first-child {
        padding: 0 10 0 0;
      }
    }
  }
}
