// change names of colors
@import "reset";
@import "variables";
@import "infoSection";
@import "home";
@import "resume";
@import "contact";

* {
  box-sizing: border-box;
}

body,
html {
  background: #7eacf7;
  font-family: 'Cormorant Garamond', serif;
  height: 100%;
  font-size: 18px;
  overflow: hidden;
}

.menu-icon {
  position: fixed;
  top: 36px;
  right: 36px;
  padding: 20px;
  z-index: 11;

  .fa {
    font-size: 2rem;
    color: #7eacf7;
  }
}

.btn-one {
  text-decoration: none;
  background-color: #7eacf7;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: #2e3035;
  padding: 15px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-right: 15px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #1d6ef2;
  }
}

.btn-2 {
  text-decoration: none;
  border: 4px solid #7eacf7;
  background-color: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: #2e3035;
  padding: 12px 27px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: #1d6ef2;
  }
}

#menu {
  color: blue;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  transform: translate3d(-100%,0,0);
  z-index: 10;
  display: fixed;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.5s ease-in-out;

  nav {
    width: 400px;
    text-align: center;

    a {
      font-size: 3rem;
      padding: 2.3rem;
      text-decoration: none;
      color: white;
      display: block;

      &:hover {
        color: black;
      }
    }
  }
}

.menu-active {
  .menu-icon {
    .fa {
      color: white;
    }
  }

  #menu {
    width: 100%;
    top: 0;
    bottom: 0;
    transform: translate3d(0,0,0);
  }
}

scroll-section {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 56px;
}
