// change names of colors
@import "reset";
@import "variables";
@import "home";

* {
  box-sizing: border-box;
}

body,
html {
  background: #7eacf7;
  font-family: 'Cormorant Garamond', serif;
  height: 100%;
  font-size: 18px;
  overflow: hidden;
}

.hambuger-icon {
  position: fixed;
  top: 36px;
  right: 36px;
  padding: 20px;

  .fa {
    font-size: 2rem;
    color: #7eacf7;
  }
}

.btn-one {
  background-color: #7eacf7;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: #525b68;
  padding: 15px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-right: 15px;
  margin-top: 30px;
}

.btn-2 {
  border: 4px solid #7eacf7;
  background-color: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: #525b68;
  padding: 12px 27px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 30px;
}
